# فراخوانی دیتا از دیتا ست و نمایش چند سطر ابتدایی

In [6]:
import numpy as np
import pandas as pd
import math
data = pd.read_excel('./dataset2.xls', header=None,)
data.head()

   0   1     2     3      4    5     6   7    8    9    10
0   7   5  86.2  26.2   94.3  5.1   8.2  51  6.7  0.0  0.0
1   7   4  90.6  35.4  669.1  6.7  18.0  33  0.9  0.0  0.0
2   7   4  90.6  43.7  686.9  6.7  14.6  33  1.3  0.0  0.0
3   8   6  91.7  33.3   77.5  9.0   8.3  97  4.0  0.2  0.0
4   8   6  89.3  51.3  102.2  9.6  11.4  99  1.8  0.0  0.0

# محاسبه فاصله اقلیدسی

با وارد کردن دو ستون دلخواه از بین اعداد 0 تا 11 فاصله اقلیدسی داده های موحود در این دو ستون با هم محاسبه میشود

In [7]:
a = data[0]
b = data[1]
# c = daat[3]
# d = daat[4]
# e = daat[5]
# f = daat[6]
# g = daat[7]
# h = daat[8]
# i = daat[9]
# j = daat[10]
# k = daat[11]
# f=[(a - b) ** 2)+((b - c) ** 2)+(c - d) ** 2)+(d - e) ** 2)+(e - f) ** 2)+(f - g) ** 2)+(g - h) ** 2)+(h - i) ** 2)+(i - j) ** 2)+(j - k) ** 2)]
# f

dist = math.sqrt(sum([(a - b) ** 2 for a, b in zip(a, b)]))
print("Euclidean distance from cols (0 to 1): ",dist)

x = int(input("enter target_col 1(0,11) x :"))
y = int(input("enter target_col 2(0,11) y :"))

x = data[x]
y = data[y]
distance = math.sqrt(sum([(a - b) ** 2 for a, b   in zip(x, y)]))
print("Euclidean distance from x to y: ",distance)

Euclidean distance from cols (0 to 1):  45.044422518220834
enter target_col 1(0,11) x :2
enter target_col 2(0,11) y :3
Euclidean distance from x to y:  1484.676446233319

نمایش ماتریس فاصله اقلیدسی برای تمامی حالات دیتاست

In [21]:
rows,cols = data.shape
X = [[ 0 for row in range(cols)] for column in range(cols)]

for i in range(cols):
    for j in range(cols):
        dist = math.sqrt(sum([(a - b) ** 2 for a, b in zip(data[i], data[j])]))
        X[i][j] = float(dist)
np.matrix(X)

matrix([[    0.        ,    45.04442252,  1959.67115354,  2821.00379298,
         13579.23678857,   152.36692554,   354.13510134,   973.83109418,
            67.5124433 ,   118.01965938,  1455.53075553],
        [   45.04442252,     0.        ,  1967.55925705,  2826.42682552,
         13586.10523145,   152.23757749,   358.32843873,   981.63231406,
            50.24271091,   101.3688315 ,  1458.00938279],
        [ 1959.67115354,  1967.55925705,     0.        ,  1484.67644623,
         11807.46400757,  1859.3157478 ,  1637.31608433,  1136.69970969,
          1974.17531136,  2064.35259343,  2284.98286652],
        [ 2821.00379298,  2826.42682552,  1484.67644623,     0.        ,
         11020.24710522,  2720.02034551,  2515.5645271 ,  2113.40966213,
          2834.3977826 ,  2909.98616492,  2977.94604187],
        [13579.23678857, 13586.10523145, 11807.46400757, 11020.24710522,
             0.        , 13477.76404824, 13256.63626302, 12774.93674192,
         13594.23677703, 13673.37761784, 13456.1788982 ],
        [  152.36692554,   152.23757749,  1859.3157478 ,  2720.02034551,
         13477.76404824,     0.        ,   260.17526785,   895.15332765,
           156.29724886,   229.24877317,  1451.44231656],
        [  354.13510134,   358.32843873,  1637.31608433,  2515.5645271 ,
         13256.63626302,   260.17526785,     0.        ,   734.76477188,
           368.55694268,   448.73483261,  1445.61830104],
        [  973.83109418,   981.63231406,  1136.69970969,  2113.40966213,
         12774.93674192,   895.15332765,   734.76477188,     0.        ,
           987.614363  ,  1072.38670264,  1679.36788117],
        [   67.5124433 ,    50.24271091,  1974.17531136,  2834.3977826 ,
         13594.23677703,   156.29724886,   368.55694268,   987.614363  ,
             0.        ,    99.61591238,  1459.9240947 ],
        [  118.01965938,   101.3688315 ,  2064.35259343,  2909.98616492,
         13673.37761784,   229.24877317,   448.73483261,  1072.38670264,
            99.61591238,     0.        ,  1475.16027885],
        [ 1455.53075553,  1458.00938279,  2284.98286652,  2977.94604187,
         13456.1788982 ,  1451.44231656,  1445.61830104,  1679.36788117,
          1459.9240947 ,  1475.16027885,     0.        ]])

In [22]:
from numpy import linalg as LA
def compute_ED_method1(data):
    m,n = data.shape
    D = np.zeros((n , n))
    for i in range (n):
        for j in range (i+1 , n):
            D[i , j] = LA.norm(data[:,i] - data[:,j])**2
            D[j , i] = D[i , j]
    return D

a = np.array(data)
compute_ED_method1(a)

array([[0.00000000e+00, 2.02900000e+03, 3.84031103e+06, 7.95806240e+06,
        1.84395672e+08, 2.32156800e+04, 1.25411670e+05, 9.48347000e+05,
        4.55793000e+03, 1.39286400e+04, 2.11856978e+06],
       [2.02900000e+03, 0.00000000e+00, 3.87128943e+06, 7.98868860e+06,
        1.84582255e+08, 2.31762800e+04, 1.28399270e+05, 9.63602000e+05,
        2.52433000e+03, 1.02756400e+04, 2.12579136e+06],
       [3.84031103e+06, 3.87128943e+06, 0.00000000e+00, 2.20426415e+06,
        1.39416206e+08, 3.45705505e+06, 2.68080396e+06, 1.29208623e+06,
        3.89736816e+06, 4.26155163e+06, 5.22114670e+06],
       [7.95806240e+06, 7.98868860e+06, 2.20426415e+06, 0.00000000e+00,
        1.21445846e+08, 7.39851068e+06, 6.32806489e+06, 4.46650040e+06,
        8.03381079e+06, 8.46801948e+06, 8.86816263e+06],
       [1.84395672e+08, 1.84582255e+08, 1.39416206e+08, 1.21445846e+08,
        0.00000000e+00, 1.81650124e+08, 1.75738405e+08, 1.63199009e+08,
        1.84803274e+08, 1.86961255e+08, 1.81068751e+08],
       [2.32156800e+04, 2.31762800e+04, 3.45705505e+06, 7.39851068e+06,
        1.81650124e+08, 0.00000000e+00, 6.76911700e+04, 8.01299480e+05,
        2.44288300e+04, 5.25550000e+04, 2.10668480e+06],
       [1.25411670e+05, 1.28399270e+05, 2.68080396e+06, 6.32806489e+06,
        1.75738405e+08, 6.76911700e+04, 0.00000000e+00, 5.39879270e+05,
        1.35834220e+05, 2.01362950e+05, 2.08981227e+06],
       [9.48347000e+05, 9.63602000e+05, 1.29208623e+06, 4.46650040e+06,
        1.63199009e+08, 8.01299480e+05, 5.39879270e+05, 0.00000000e+00,
        9.75382130e+05, 1.15001324e+06, 2.82027648e+06],
       [4.55793000e+03, 2.52433000e+03, 3.89736816e+06, 8.03381079e+06,
        1.84803274e+08, 2.44288300e+04, 1.35834220e+05, 9.75382130e+05,
        0.00000000e+00, 9.92333000e+03, 2.13137836e+06],
       [1.39286400e+04, 1.02756400e+04, 4.26155163e+06, 8.46801948e+06,
        1.86961255e+08, 5.25550000e+04, 2.01362950e+05, 1.15001324e+06,
        9.92333000e+03, 0.00000000e+00, 2.17609785e+06],
       [2.11856978e+06, 2.12579136e+06, 5.22114670e+06, 8.86816263e+06,
        1.81068751e+08, 2.10668480e+06, 2.08981227e+06, 2.82027648e+06,
        2.13137836e+06, 2.17609785e+06, 0.00000000e+00]])

# محاسبه فاصله مهلنوبیس

In [45]:
from numpy import linalg as LA
import pandas as pd
import math
data = pd.read_excel('./dataset2.xls', header=None ,names=['F0','F1','F2','F3','F4','F5','F6','F7','F8','F9','F10'])
data
# Function to find mean. 
def mean(arr, n): 

    sum = 0
    for i in range(0, n): 
        sum = sum + arr[i] 
        return sum / n 

# Function to find covariance. 
def covariance(arr1, arr2, n): 

	sum = 0
	for i in range(0, n): 
		sum = (sum + (arr1[i] - mean(arr1, n)) *(arr2[i] - mean(arr2, n))) 
	return sum / (n - 1) 

def mahalanobis(x=None, data=None, cov=None):
    """Compute the Mahalanobis Distance between each row of x and the data  
    x    : vector or matrix of data with, say, p columns.
    data : ndarray of the distribution from which Mahalanobis distance of each observation of x is to be computed.
    cov  : covariance matrix (p x p) of the distribution. If None, will be computed from data.
    """
    x_minus_mu = x - np.mean(data)
    if not cov:
        cov = np.cov(data.values.T)
        inv_covmat = LA.inv(cov)
        left_term = np.dot(x_minus_mu, inv_covmat)
        mahal = np.dot(left_term, x_minus_mu.T)
    return mahal.diagonal()

data_x = data[['F0','F1','F2','F3','F4','F5','F6','F7','F8','F9','F10']].head(50)
data_x['mahala'] = mahalanobis(x=data_x, data=data[['F0','F1','F2','F3','F4','F5','F6','F7','F8','F9','F10']])
data_x.head()

   F0  F1    F2    F3     F4   F5    F6  F7   F8   F9  F10     mahala
0   7   5  86.2  26.2   94.3  5.1   8.2  51  6.7  0.0  0.0   6.564163
1   7   4  90.6  35.4  669.1  6.7  18.0  33  0.9  0.0  0.0   9.475852
2   7   4  90.6  43.7  686.9  6.7  14.6  33  1.3  0.0  0.0  10.756977
3   8   6  91.7  33.3   77.5  9.0   8.3  97  4.0  0.2  0.0  20.717109
4   8   6  89.3  51.3  102.2  9.6  11.4  99  1.8  0.0  0.0  23.840563

# محاسبه ضریب همبستگی

In [53]:
# Python Program to find correlation coefficient. 
import math 
data = pd.read_excel('./dataset2.xls', header=None )
# function that returns correlation coefficient. 
def correlationCoefficient(X, Y, n) : 
	sum_X = 0
	sum_Y = 0
	sum_XY = 0
	squareSum_X = 0
	squareSum_Y = 0
	
	
	i = 0
	while i < n : 
		# sum of elements of array X. 
		sum_X = sum_X + X[i] 
		
		# sum of elements of array Y. 
		sum_Y = sum_Y + Y[i] 
		
		# sum of X[i] * Y[i]. 
		sum_XY = sum_XY + X[i] * Y[i] 
		
		# sum of square of array elements. 
		squareSum_X = squareSum_X + X[i] * X[i] 
		squareSum_Y = squareSum_Y + Y[i] * Y[i] 
		
		i = i + 1
	
	# use formula for calculating correlation 
	# coefficient.
	soorat = (float)(n * sum_XY - sum_X * sum_Y)
	makhraj = (float)(math.sqrt((n * squareSum_X - sum_X * sum_X)* (n * squareSum_Y - sum_Y * sum_Y)))
	
	corr = soorat / makhraj
	return corr 
	
# Driver function 
x = int(input("Enter the first target col(0,11):"))
y = int(input("Enter the second target col(0,11):"))

X = data[x]
Y = data[y]

# Find the size of array. 
n = len(X) 

# Function call to correlationCoefficient. 
print ('{0:.6f}'.format(correlationCoefficient(X, Y, n)))

Enter the first target col(0,11):2
Enter the second target col(0,11):4
0.330512

# محاسبه انتروپی

با وارد کردن ستون دلخواه (از بین اعداد 0 تا 11) انتروپی برای داده های آن ستون محاسبه میگردد

In [58]:
import numpy as np
import pandas as pd
from scipy import linalg

data = pd.read_excel('./dataset2.xls', header=None )

def entropy(target_col):
    """
    Calculate the entropy of a dataset.
    The only parameter of this function is the target_col parameter which specifies the target column
    """
    #removing repeated data using unique python method 
    #to return a tuple containing the list of unique values in arr and a list of their corresponding frequencies.
    elements,counts = np.unique(target_col,return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy



x = int(input("please enter the target col (0,11) to calcualte entropy:"))
entropy(data[x])

please enter the target col (0,11) to calcualte entropy:8

3.923896789317464